name: Word of the Day

on:
  schedule:
    - cron: "30 2 * * *"   # 8:00 AM IST
    - cron: "30 7 * * *"   # 1:00 PM IST
    - cron: "30 13 * * *"  # 7:00 PM IST
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Cron Mode
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          OPENROUTER_API_KEY: ${{ secrets.OPENROUTER_API_KEY }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          RUN_MODE: cron
        run: python main.py
